@charset "UTF-8";
header{
	width:100%;
	background-color:lightblue;
	height:250px;
}
#hwrap{
	width:1080px;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	flex-flow: row wrap;
}
#logo{
	width:100%;
	color:white;
	font-size:90px;
	text-align: center;
	margin-top:30px;
}

header .home-link{
	margin: 0px 10px;
	color:#03c75a;	
	font-size:20px;
}
header input{
    width: 65px;
    height: 20px;
    background-color: white;
    border: none;
    margin: 5px 0;
}
.home-link{
	color:black;
	text-decoration:none;
	font-weight:bold;
	
}
footer{
	width:1080px;
	border-top:2px solid black;
	height:80px;
	margin: 0 auto;
	display:flex;
	justify-content:space-between
}