
	/**********************************************************/
	
	select{
		width: 740px;
		height: 30px;
	}
	#title{
		width: 100%;
		height: 40px;
	}
	table tr:last-child td{
		text-align: right;
	}
	table tr:last-child td input[type=submit]{ /* 확인버튼 */
		width: 100px;
	}
	textarea{
		width: 100%;
	}